body{background-color: antiquewhite;}
h1{color: crimson; text-align: center;font-size: 50px;font-family: 'Times New Roman', Times, serif;}
#datos-generales {background-color: rgb(189, 245, 245); box-sizing: border-box ;width: 25%;height: 100% ;display:inline-block; padding-left: 30px;margin-left: 200px;}
#datos-laborales {background-color: rgb(238, 221, 215);box-sizing: border-box; width: 50%; height: 100%; display: inline-block;padding-left: 50px; margin-left:0px;}
#nombre {font-size: 110px;}
h4 {font-size:  50px;}
label{font-size: 25px;}
button {font-size: 20px;}